In [ ]:
import pandas as pd
import numpy as np
file_path = '/content/drive/MyDrive/data.xlsx'
df = pd.read_excel(file_path)
df.head(1)

      명칭     우편번호  ...                                               상세정보 환불규정
0  제이뷰호텔  63534.0  ...  객실명:D타입 특실\n객실크기:25평\n객실수:3\n기준인원:4최대인원:6\n※ 객...  NaN

[1 rows x 36 columns]

In [ ]:
df.isnull().sum()

명칭             0
우편번호           1
관리자          603
전화번호          63
주소             0
위도             2
경도             2
개요             2
숙박 종류        538
문의 및 안내      752
규모           234
수용 가능 인원     417
객실 수           0
객실 유형        214
주차 가능         39
조리 가능        120
체크인           19
체크아웃          20
예약 안내         54
예약안내 홈페이지    202
픽업서비스        495
식음료장         148
부대 시설        192
세미나            0
스포츠시설          0
사우나실           0
뷰티 시설          0
노래방            0
바베큐장           0
캠프화이어          0
자전거대여          0
휘트니스센터         0
공용 PC실         0
공용 샤워실         0
상세정보          14
환불규정         621
dtype: int64

In [ ]:
df['상세정보'].replace(' ', np.nan, inplace=True)
df.dropna(axis=0, subset=['상세정보'], inplace=True)
for c in df.columns:
    if df[c].isnull().sum() > 350:
        df.drop(c, axis=1, inplace=True)
df.drop('규모', axis=1, inplace=True)
df.drop('객실 수', axis=1, inplace=True)
df.drop('예약 안내', axis=1, inplace=True)

In [ ]:
df.index=list(i for i in range(df['명칭'].count()))

In [ ]:
for i in range(df['명칭'].count()):
    if '[' in df.loc[i, '명칭']:
        name = df.loc[i, '명칭']
        df.loc[i, '명칭'] = name[:name.index('[')]

In [ ]:
df.columns

Index(['명칭', '우편번호', '전화번호', '주소', '위도', '경도', '개요', '객실 유형', '주차 가능', '조리 가능',
       '체크인', '체크아웃', '예약안내 홈페이지', '식음료장', '부대 시설', '세미나', '스포츠시설', '사우나실',
       '뷰티 시설', '노래방', '바베큐장', '캠프화이어', '자전거대여', '휘트니스센터', '공용 PC실', '공용 샤워실',
       '상세정보'],
      dtype='object')

In [ ]:
df.isnull().sum()

명칭             0
우편번호           1
전화번호          57
주소             0
위도             2
경도             2
개요             2
객실 유형        201
주차 가능         37
조리 가능        110
체크인           18
체크아웃          19
예약안내 홈페이지    187
식음료장         142
부대 시설        183
세미나            0
스포츠시설          0
사우나실           0
뷰티 시설          0
노래방            0
바베큐장           0
캠프화이어          0
자전거대여          0
휘트니스센터         0
공용 PC실         0
공용 샤워실         0
상세정보           0
dtype: int64

In [ ]:
df_hotel = df.iloc[:, :13]
columns = ['hotelName', 'postalCode', 'phone', 'address', 'lat', 'long', 'summary', 'roomType', 'parking', 'cooking', 'checkIn', 'checkOut', 'reservationPage']
for x, y in zip(df_hotel.columns, columns):
    df_hotel.rename(columns={x:y}, inplace=True)
df_hotel.head(3)

   hotelName  ...                                    reservationPage
0      제이뷰호텔  ...  <a href="http://www.jviewhotel.com/" target="_...
1  호텔인터불고 원주  ...  <a href="http://wonju.inter-burgo.com" target=...
2     노블레스호텔  ...                                                NaN

[3 rows x 13 columns]

In [ ]:
df.head(1)

      명칭     우편번호  ... 공용 샤워실                                               상세정보
0  제이뷰호텔  63534.0  ...     없음  객실명:D타입 특실\n객실크기:25평\n객실수:3\n기준인원:4최대인원:6\n※ 객...

[1 rows x 27 columns]

In [ ]:
df.iloc[:, 0]

0                     제이뷰호텔
1                 호텔인터불고 원주
2                    노블레스호텔
3                목포 마리나베이호텔
4              홀리데이 인 광주 호텔
               ...
730             롯데시티호텔 김포공항
731                  에이본 호텔
732                  통영관광호텔
733                도야거제가족호텔
734    화왕산스파호텔 (구, 가든 관광호텔)
Name: 명칭, Length: 735, dtype: object

In [ ]:
df.iloc[:, 13:]

                               식음료장  ...                                               상세정보
0                               조식당  ...  객실명:D타입 특실\n객실크기:25평\n객실수:3\n기준인원:4최대인원:6\n※ 객...
1    양식당, 중식당, 일식당, 카페테리아, 와인바, 제과점  ...  객실명:스위트(슈페리어/럭셔리/로얄)\n객실크기:13평\n객실수:0\n기준인원:2최...
2                                    ...  객실명:스탠다드 더블\n객실크기:0평\n객실수:3\n기준인원:2최대인원:2\n※ 객...
3                                없음  ...  객실명:프리미엄한실\n객실크기:12평\n객실수:1\n기준인원:4최대인원:5\nnul...
4                        레스토랑, 카페&바  ...  객실명:Junior Suite\n객실크기:14평\n객실수:4\n기준인원:2최대인원:...
..                              ...  ...                                                ...
730                         레스토랑 나루  ...  객실명:슈페리어 온돌룸\n객실크기:9평\n객실수:0\n기준인원:3최대인원:3\n※ ...
731                             NaN  ...  객실명:슈페리어 발코니 트윈\n객실크기:7평\n객실수:0\n기준인원:0최대인원:0\...
732                             NaN  ...  객실명:스탠다드 더블/트윈\n객실크기:0평\n객실수:0\n기준인원:0최대인원:0\n...
733                              식당  ...  객실명:스탠다드 더블\n객실크기:14평\n객실수:8\n기준인원:2최대인원:4\n※ ...
734                        카페, 레스토랑  ...  객실명:스위트 한실/양실\n객실크기:0평\n객실수:0\n기준인원:0최대인원:0\n※...

[735 rows x 14 columns]

In [ ]:
df_hotel_category = df.iloc[:, 15:-1]
df_hotel_category.head(1)

  세미나 스포츠시설 사우나실 뷰티 시설 노래방 바베큐장 캠프화이어 자전거대여 휘트니스센터 공용 PC실 공용 샤워실
0  없음    없음   없음    없음  없음   없음    없음    없음     없음     없음     없음

In [ ]:
df_hotel_category.insert(0, 'hotelName', df.iloc[:, 0])
df_hotel_category.head(1)

  hotelName 세미나 스포츠시설 사우나실 뷰티 시설 노래방 바베큐장 캠프화이어 자전거대여 휘트니스센터 공용 PC실 공용 샤워실
0     제이뷰호텔  없음    없음   없음    없음  없음   없음    없음    없음     없음     없음     없음

In [ ]:
category_lst = list(df_hotel_category.columns[1:])
for c in category_lst:
    df_hotel_category[c].replace('없음', False, inplace=True)
    df_hotel_category[c].replace('있음', True, inplace=True)
df_hotel_category.head(10)

      hotelName    세미나  스포츠시설   사우나실  ...  자전거대여  휘트니스센터  공용 PC실  공용 샤워실
0         제이뷰호텔  False  False  False  ...  False   False   False   False
1     호텔인터불고 원주  False  False  False  ...  False   False   False   False
2        노블레스호텔  False  False  False  ...  False   False   False   False
3    목포 마리나베이호텔  False  False  False  ...  False   False   False   False
4  홀리데이 인 광주 호텔  False  False  False  ...  False   False   False   False
5          호텔로움  False  False  False  ...  False   False   False   False
6          호텔캣츠  False  False  False  ...  False   False   False   False
7   호텔여기어때 대구역점  False  False  False  ...  False   False   False   False
8       코리아나 호텔  False  False   True  ...  False    True   False   False
9         호텔 이채  False  False  False  ...  False   False   False   False

[10 rows x 12 columns]

In [ ]:
df_hotel_category.drop('캠프화이어', axis=1, inplace=True)

In [ ]:
columns = ['seminar', 'sports', 'sauna', 'beauty', 'karaoke', 'BBQ', 'bicycle', 'fitness', 'publicPC', 'publicShower']
for x, y in zip(df_hotel_category.columns[1:], columns):
    df_hotel_category.rename(columns={x:y}, inplace=True)
df_hotel_category.head(3)

   hotelName  seminar  sports  sauna  ...  bicycle  fitness  publicPC  publicShower
0      제이뷰호텔    False   False  False  ...    False    False     False         False
1  호텔인터불고 원주    False   False  False  ...    False    False     False         False
2     노블레스호텔    False   False  False  ...    False    False     False         False

[3 rows x 11 columns]

In [ ]:
df_hotel_detail = pd.DataFrame({
    'hotelName':df.iloc[:, 0],
    'detail':df.iloc[:, -1]
})
df_hotel_detail.head(10)

      hotelName                                             detail
0         제이뷰호텔  객실명:D타입 특실\n객실크기:25평\n객실수:3\n기준인원:4최대인원:6\n※ 객...
1     호텔인터불고 원주  객실명:스위트(슈페리어/럭셔리/로얄)\n객실크기:13평\n객실수:0\n기준인원:2최...
2        노블레스호텔  객실명:스탠다드 더블\n객실크기:0평\n객실수:3\n기준인원:2최대인원:2\n※ 객...
3    목포 마리나베이호텔  객실명:프리미엄한실\n객실크기:12평\n객실수:1\n기준인원:4최대인원:5\nnul...
4  홀리데이 인 광주 호텔  객실명:Junior Suite\n객실크기:14평\n객실수:4\n기준인원:2최대인원:...
5          호텔로움  객실명:일반실/장애인실\n객실크기:7평\n객실수:26\n기준인원:2최대인원:4\n※...
6          호텔캣츠  객실명:디럭스\n객실크기:8평\n객실수:0\n기준인원:2최대인원:2\n※ 위 정보는...
7   호텔여기어때 대구역점  객실명:디럭스\n객실크기:10평\n객실수:23\n기준인원:2최대인원:2\n※ 위 정...
8       코리아나 호텔  객실명:트리플룸\n객실크기:11평\n객실수:0\n기준인원:2최대인원:0\n※ 위 정...
9         호텔 이채  객실명:일반실\n객실크기:6평\n객실수:6\n기준인원:2최대인원:2\n※ 객실요금 ...

df_hotel

df_hotel_category

df_hotel_detail

In [ ]:
print(df_hotel.shape)
print(df_hotel_category.shape)
print(df_hotel_detail.shape)

(735, 13)
(735, 11)
(735, 2)

In [ ]:
df_hotel.head(10)

      hotelName  ...                                    reservationPage
0         제이뷰호텔  ...  <a href="http://www.jviewhotel.com/" target="_...
1     호텔인터불고 원주  ...  <a href="http://wonju.inter-burgo.com" target=...
2        노블레스호텔  ...                                                NaN
3    목포 마리나베이호텔  ...  <a href="http://marinabayhotel.co.kr" target="...
4  홀리데이 인 광주 호텔  ...  <a href="http://higwangju.com" target="_blank"...
5          호텔로움  ...  <a href="http://www.naturaldreampark.co.kr" ta...
6          호텔캣츠  ...                                                NaN
7   호텔여기어때 대구역점  ...                                                NaN
8       코리아나 호텔  ...  코리아나 호텔 <a href="http://www.koreanahotel.com" ...
9         호텔 이채  ...                                                NaN

[10 rows x 13 columns]

In [ ]:
df_hotel_category.head(10)

      hotelName  seminar  sports  ...  fitness  publicPC  publicShower
0         제이뷰호텔    False   False  ...    False     False         False
1     호텔인터불고 원주    False   False  ...    False     False         False
2        노블레스호텔    False   False  ...    False     False         False
3    목포 마리나베이호텔    False   False  ...    False     False         False
4  홀리데이 인 광주 호텔    False   False  ...    False     False         False
5          호텔로움    False   False  ...    False     False         False
6          호텔캣츠    False   False  ...    False     False         False
7   호텔여기어때 대구역점    False   False  ...    False     False         False
8       코리아나 호텔    False   False  ...     True     False         False
9         호텔 이채    False   False  ...    False     False         False

[10 rows x 11 columns]

In [ ]:
df_hotel_detail.head(10)

      hotelName                                             detail
0         제이뷰호텔  객실명:D타입 특실\n객실크기:25평\n객실수:3\n기준인원:4최대인원:6\n※ 객...
1     호텔인터불고 원주  객실명:스위트(슈페리어/럭셔리/로얄)\n객실크기:13평\n객실수:0\n기준인원:2최...
2        노블레스호텔  객실명:스탠다드 더블\n객실크기:0평\n객실수:3\n기준인원:2최대인원:2\n※ 객...
3    목포 마리나베이호텔  객실명:프리미엄한실\n객실크기:12평\n객실수:1\n기준인원:4최대인원:5\nnul...
4  홀리데이 인 광주 호텔  객실명:Junior Suite\n객실크기:14평\n객실수:4\n기준인원:2최대인원:...
5          호텔로움  객실명:일반실/장애인실\n객실크기:7평\n객실수:26\n기준인원:2최대인원:4\n※...
6          호텔캣츠  객실명:디럭스\n객실크기:8평\n객실수:0\n기준인원:2최대인원:2\n※ 위 정보는...
7   호텔여기어때 대구역점  객실명:디럭스\n객실크기:10평\n객실수:23\n기준인원:2최대인원:2\n※ 위 정...
8       코리아나 호텔  객실명:트리플룸\n객실크기:11평\n객실수:0\n기준인원:2최대인원:0\n※ 위 정...
9         호텔 이채  객실명:일반실\n객실크기:6평\n객실수:6\n기준인원:2최대인원:2\n※ 객실요금 ...

In [ ]:
df_hotel.to_excel('hotel_tbl.xlsx')
df_hotel_category.to_excel('hotel_catetory_tbl.xlsx')
df_hotel_detail.to_excel('hotel_detail_tbl.xlsx')